#jenkins_configuration/plugins
#jenkins_configuration/tools
#jenkins_configuration/caches
#jenkins_configuration/war
#jenkins_configuration/updates
#jenkins_configuration/workspace
#jenkins_configuration/.java
#**/builds
#**/logs
#**/cache
#**/fingerprints
#**/.m2
#**/.config
#jdk*
#.lastStarted
#.owner
#*.log
jenkins_configuration
settings.xml
.idea
